<app-header titulo="Botões"></app-header>


<ion-content>
    <div class="ion-padding">
        <ion-button color="success" expand="full" routerLink="/alert">Alert</ion-button>
    </div>

    <div class="ion-padding-bottom">
        <ion-button color="success" expand="full" routerLink="/alert">Alert</ion-button>
    </div>

    <ion-button color="success" expand="full" routerLink="/alert">Alert</ion-button>
    <ion-button expand="block" routerLink="/action-sheet">Modal</ion-button>
    <ion-button shape="round" expand="block" fill="outline">Extra</ion-button>
    <ion-button>
        <ion-icon slot="start" name="star"></ion-icon>
        Icone a esquerda
    </ion-button>
    <ion-button>
        Icone a direita
        <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <p></p>
    <ion-button size="large">Largo</ion-button>
    <ion-button>Padrão</ion-button>
    <ion-button size="small">Pequeno</ion-button>

</ion-content>
