<app-header titulo="Inputs"></app-header>

<ion-content>

  <ion-input></ion-input>

  <ion-input placeholder="Informe o texto"></ion-input>

  <ion-input clearInput value="Limpe-me"></ion-input>

  <ion-input type="number" value="10"></ion-input>

  <ion-item>
    <ion-label>Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sobrenome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Profissao</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
